﻿@model IEnumerable<PracticeApp.Models.Customer>

@{
    ViewBag.Title = "CustomerList";
}

@{
    if (!string.IsNullOrEmpty(ViewBag.Msg))
    {

        <script type="text/javascript">
            @ViewBag.Msg
        </script>
    }
}


<h2>List Of Customers</h2>

<p>
    @Html.ActionLink("Create New Customer", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PolicyNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PolicyNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { policyNo = item.PolicyNo }) |*@
                <div class="col-md-6">
                    <a href="/Home/Edit?policyNo=@item.PolicyNo" class="btn btn-primary btn-block" style="width:60px;"><span class="glyphicon glyphicon-edit"></span>Edit</a>
                </div>
                <div class="col-md-6">
                    <a href="/Home/Details?policyNo=@item.PolicyNo" class="btn btn-primary btn-block" style="width:70px;"><span class="glyphicon glyphicon-edit"></span>Details</a>
                </div>
                <div class="col-md-6">
                    <a href="/Home/Delete?policyNo=@item.PolicyNo" class="btn btn-primary btn-block" style="width:70px;"><span class="glyphicon glyphicon-edit"></span>Delete</a>
                </div>


                @*@Html.ActionLink("Details", "Details", new { policyNo = item.PolicyNo }) |
                @Html.ActionLink("Delete", "Delete", new { policyNo = item.PolicyNo })*@
            </td>
        </tr>
    }

</table>