﻿@model PracticeApp.Models.PhoneLog

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PhoneLog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.userPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.otherPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.otherPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.length)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.length)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timestamp)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back To List", "PhoneLogList", new { roleID = Session["RoleID"] })
    </div>
    }
</div>
