﻿@model IEnumerable<PracticeApp.Models.PhoneLog>

@{
    var test = TempData["Msg"]; // showing message

    <h4 style="color:red; float:right;">@Html.ActionLink("Log Out", "Index")</h4>
    <span></span>
    <h4 style="color:blue; margin-left:400px;">@test</h4>

}
@*    <h4 style="color:blue; float:right;">@Session["Firstname"] @Session["lastname"]</h4>    <h4 style="float:right; margin-right:14px;">Welcome</h4>*@

<p>
    @*@Html.ActionLink("Add New", "PhoneLog")*@
    @Html.ActionLink("Add New", "PhoneLog", new { roleID = Session["RoleID"] })

</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.otherPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.length)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.timestamp)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.otherPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.length
       )
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timestamp)
        </td>


        @{
        var roleid = (Session["RoleID"]).ToString();
        if ((Session["RoleID"]).ToString() == "2")
        {
            <td>

                @Html.ActionLink("Delete", "DeletePhoneLog", new { timestamp = item.timestamp })

            </td>
    }
        }

    </tr>
    }

</table>


<link href="~/Content/style.css" rel="stylesheet">

