﻿<h4>Upload Phone Logs From Excel</h4>
<hr />
@{
    var test = TempData["Msg"]; // showing message

    <h4 style="color:red; float:right;">@Html.ActionLink("Log Out", "Index")</h4>
    <span></span>
    <h4 style="color:blue; margin-left:400px;">@test</h4>
    var success = TempData["Success"];

    <h5 style="color:blue; margin-left:400px;">@success</h5>


}

@using (Html.BeginForm("UploadView", "Home", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return myFunction()" }))
{
    <div class="form-horizontal">
        @*<div class="form-group">
                <div class="control-label col-md-2">Download Format:</div>
                <div class="col-md-10">
                    <a href="/User/DownloadExcel/"><img src="~/excel.ico" width="25" height="25" title="Download Excel format" alt="excel" /></a>
                </div>
            </div>*@


        <div class="form-group">

            <div class="col-md-10">
                <input type="file" id="FileUpload" name="FileUpload" class="" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" id="btnSubmit" class="btn btn-primary" />

            </div>
        </div>
    </div>
}

